# 智谱 API（用于 RAG 向量化）
ZHIPU_API_KEY=d2a96df12c1c477a84cbd535bb6916dd.PQYDUz9rInZjipB7


OPENAI_COMPAT_API_KEY=sk-jMtLyh39eJe85Asj50Q7D8U1UNvtlCtKbbPp5Dc2ja8prY1c
OPENAI_COMPAT_BASE_URL=https://api.moonshot.ai/v1

# JWT Secret Key
SECRET_KEY=xK9mP2vL8nQ4rT6wY1zB5cD7eF0gH3jK

# 数据库配置
DATABASE_URL=sqlite:///./app.db